<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="index.php">
            <img src="favicon/logo-light.png" alt="Bootstrap" width="40" height="40">
        </a>
        <a class="navbar-brand" href="index.php">Boston 311 Record Search</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="{{ l1_classes }}" aria-current="page" href="index.php">Search</a>
                </li>
                <li class="nav-item">
                    <a class="{{ l2_classes }}" href="about.php">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>